<body>
<script>
document.addEventListener('DOMContentLoaded', function(){
  const btn=document.querySelector("button");
  console.log(btn);
  btn.addEventListener('click', function(e){
    btn.setAttribute("disabled", true);
    fetch('./shot', {
      method: 'GET',
//      body: 'foo=1&bar=2',
//      headers: new Headers({'Content-type' : 'application/x-www-form-urlencoded' }),
      })
      .then(function (response) {
        btn.removeAttribute("disabled");
        if (response.status === 200) {
          console.log('OK');
        } else {
          console.log('Bad');
        }
      })
      .catch(function (err) {
        btn.removeAttribute("disabled");
        console.log(err);
        console.log('Error Occurred');
      });
  });
}, false);
</script>
HELO
{{message}}
<button>shot</button>

